.chart-managment{
    background-color: white;
    padding: 2rem;
    > h2{
        opacity: 0.7;
    }
    .pie-chart{
        width: 50%;
        height: 60vh;
        // border: 2px solid black;
        @include flex(column);
        // margin:3rem auto;
        h2{
            text-align: center;
            // border: 2px solid black;
        }
    }
    > div{
        width: 90%;
        > h2{
            @include heading(2px);
            // margin: 1rem 0;
            text-align: center;
            opacity: 0.6;
        }
        margin: 3rem auto;
    }
}